<main role="main" class="container">
  <div class="starter-template">
    <h1>GD #3 Ali Villegas</h1>
    <h1>This is the homepage</h1>
    <p class="lead">
      <br> 
    </p>
    <p>
      please login at: <button id="buttonToLogin" class="btn btn-primary" onclick=" window.location = '/login' " >Login</button>
    </p>
  </div>
</main>
